#nav-bar {
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  margin-left: 10px;
  line-height: 80px;
  font-size: 32px;
  vertical-align: middle;
}

