article.tweet {
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 1em auto;
  width: 85%;
  background-color: white;
  color: #5c7177;
}

article.tweet:hover {
  border: 1px solid gray;
}

article.tweet header {
  display: block;
  background-color: #eee;
  height: 90px;
}

article.tweet:hover header {
  color: #244751;
}

article.tweet header img.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  float: left;
  margin: 1em 0 0 1em;
  opacity: 0.7;
}

article.tweet:hover header img.avatar {
  opacity: 1.0
}

article.tweet header h2 {
  float: left;
  margin: 1em 0 0 10px;
}

article.tweet header p.login-name {
  float: right;
  margin: 1em 1em 0 0;
  color: #bbb;
}

article.tweet:hover header p.login-name {
  color: #aaa;
}

article.tweet p.tweet-text {
  margin: 1em 1em 1em 1em;
  display: block;
  width: 90%;
  min-height: 20px;
}

article.tweet footer {
  display: block;
  height: 50px;
  border-top: 1px solid #bbb;
}

article.tweet footer p.days-posted {
  display: inline-block;
  float: left;
  margin: 1em;
  width: 50%;
}

article.tweet footer img.icons {
  margin: 1em 7px 1em 0;
  float: right;
  height: 20px;
  width: auto;
  visibility: hidden;
}

article.tweet:hover footer img.icons {
  visibility: visible;
}

article.tweet footer span.counter {
  margin: 1em 1em 1em 0;
  float: right;
  height: 20px;
  width: auto;
  visibility: hidden;
}

article.tweet:hover footer span.counter {
  visibility: visible;
}
